<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contato" #contato="ngModelGroup">
        <div *ngIf="contato.valid">
            ...
        </div>
        <div class="form-group">
            <label for="firstName"> Nome </label>

            <input required ngModel 
            name="firstName" 
            #firstName="ngModel" 
            minlength="3" maxlength="10" pattern="banana"
                (change)="log(firstName)" type="text" class="form-control" id="firstName">

            <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                <div *ngIf="firstName.errors?.['required']"> Nome é obrigatório! </div>
                <div *ngIf="firstName.errors?.['minlength']"> O nome deve ter pelo menos {{
                    firstName.errors?.['minlength'].requiredLength }} letras </div>
                <div *ngIf="firstName.errors?.['pattern']"> O padrão é banana </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">
            Comentário
        </label><textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>

    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed"> Subscribe e-mail list
        </label>

    </div>
    <div class="form-group">
        <label for="contactMethod"> Forma de Contato </label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let contacts of contactMethods" [value]="contacts.id">
                {{contacts.name}}
            </option>
        </select>
    </div>
    <p>
        {{ f.value | json }}
    </p>
    <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.invalid">Enviar</button>
    </div>
</form>