<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)" style="margin:auto">
    <div class="w-50 mt-5 m-auto border border-2 rounded p-3">
    <h5>
        Por favor, informe seu usuário e senha
    </h5>
    <div *ngIf="invalidLogin" class="alert alert-danger">
        Usuário e/ou senha inválidos
    </div>
    <div class="form-ouline">
    <label for="username"> Usuário </label>
    <input ngModel type="text" name="username" class="form-control">
</div>
<div class="form-ouline mb-2">
    <label for="password"> Senha </label>
    <input ngModel type="text" name="password" class="form-control">
</div>
    <div class="form-group">
    <button class="btn btn-primary btn-block"> Logar </button>
</div>
</div>
</form>
<!-- <button class="btn btn-warning" (click)="exibir()">Exibir usuários</button>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
        {{ user.name }}
    </li>
</ul> -->