<h5 class="mt-3"> Template Driven </h5>
<span>
  O Angular possui uma classe chamada FormControl, para cada campo existente no formulário essa 
  classe é associada a um objeto que consegue verificar o status e valor do campo. Os estados do campo podem ser:
  <ul class="list-group small">
    <li class="list-group-item">touched: campo foi clicado </li>
    <li class="list-group-item">untouched </li>
    <li class="list-group-item">dirty (value foi alterado) </li>
    <li class="list-group-item">pristine (value não foi alterado) </li>
    <li class="list-group-item">valid </li>
    <li class="list-group-item">erros </li>
  </ul> 
</span>   
<span class="mt-3">
  Na mesma linha, existe a classe FormGroup, representa um grupo de controles em um form, todo form tem
  pelo menos um objeto FormGroup.
  Há duas formas de criar controles para seu formulário, uma é por meio de diretivas de forma automática
  (template driven) a outra maneira é criar explicitamente através de código (reactive forms) neste caso
  há um maior controle sobre a lógica de validação. Reactive form é mais recomendável para modelos
  complexos.
  Quando utilizamos a diretiva ngModel, estamos dizendo ao Angular para criar
  um FormControl para aquele input field, sempre que o fazemos devemos também preencher o atributo name 
  do input field.
  <br />
  O campo Nome, codificado abaixo, é um FormControl, para ver o seu funcionamento basta exportar
  o ngModel para uma template variable local, no código de exemplo estamos exportando o valor de ngModel 
  para a template variable #firstName. Tecle f12 e veja o resultado do 
  console.log do javascript, ele deverá mostrar o objeto ngModel.
  Observe o atributo required no input field, ele sinaliza que o campo é de preenchimento obrigatório,
  na mesma linha o atributo minlenght estabelece um número mínimo de caracteres, note que são os mesmos
  atributos que o HTML5 utiliza para validação. o Angular utiliza diretivas para casar esses atributos com 
  as funções de validação do framework. Sempre que o valor de um form é alterado o Angular executa 
  a validação e gera ou uma lista de erros com o resultado INVALID para o objeto, ou nulo, que seria
  o equivalente a VALID.
  a div a seguir contém várias divs aninhadas, elas têm a função de aparecer quando a condição do ngIf 
  não for satisfeita, ou seja, quando a template variable firstName passada para o FormControl 
  for inválida.
  Caso queira customizar a formatação do erro de validação, utilize as classes do angular que apontam para 
  o erro, por exemplo, configure a borda vermelha para as classes .form-control.ng-invalid.ng-touched, dessa 
  forma os elementos dentro de um form-control tocados e inválidos terão a borda vermelha.
</span>
  <pre class="bg-light">{{ textoNgModel }}</pre>

<app-contact-form> </app-contact-form>