<h5 class="mt-3">Ordem das rotas</h5>
<p class="mt-3">
  A ordem das rotas é importante o Router utiliza a estratégia first-match, logo,
  rotas mais específicas devem ser colocadas acima de rotas menos específicas. 
  Lista de rotas com caminhos estáticos devem vir primeiro, a rota com wildcard deve 
  vir por último, pois ela casa com qualquer URL
</p>
<h5 class="mt-3">Pegando informação de rotas</h5>
<p class="mt-3">
  Comumente é preciso passar informações de um componente para outro. Por exemplo, considere 
  uma aplicação que mostre uma lista de compras, cada item da lista tem um id único. Para editar um item 
  o usuário clica no botão de edição, o qual abre o componente de editar item de compras, você precisa 
  que o componente carregue os dados daquele item clicado, para isso um router pode ser usado para 
  passar a informação, podemos utilizar ActivatedRoute interface.              

</p>
<p class="mt-3">Para obter informações de uma rota, importamos o 
  ActivatedRoute e o ParamMap para o componente onde queremos utilizar., em seguida injetamos 
  no construtor a instância do ActivatedRoute, sem seguida atualizamos o método ngOnInit() para
  acessar o ActivatedRoute e rastrear o parâmetro desejado.
</p>
<h5 class="mt-3">ParamMap</h5>
<p class="mt-3">
  ParamMap é uma interface localizada no módulo router do Angular, é um mapeamento que provê acesso 
  aos parâmetros requeridos e opcionals específicos para uma rota. Ele possui os seguintes membros:
  property keys:string[] -> somente para leitura, guarda o nome dos parâmetros no mapa. <br />
  método <code>  has(name: string):boolean </code>-> Diz se o mapa contém um dado parâmetro <br />
  método <code>  get(name: string) : string | null </code>-> retorna um valor para o parâmetro dado <br/>
  método <code> getlAll(name: string): string[]</code> -> retorna um array contendo um ou mais valores ou um array vazio.
  <br />
  Veja no exemplo abaixo:
</p>
<app-coder [parametros]="codigoAcessoParamRoute"></app-coder>

<p class="mt-3">Repare que o param é um observable que subscreve o resultado para poder 
  fazer a manipulação de dados, o uso do Observable é para manter os dados do componente, para 
  não destruí-lo e recriá-lo em seguida, é utilizado em contextos onde o usuário não irá chamar 
  outro componente, irá apenas informar novos parâmetros.
</p>
<h5 class="mt-3">Rotas com múltiplos parâmetros</h5>
<p class="mt-3">
  Simplesmente adicione o parâmetro adicional na rota no app.module, adicione também no template corresopndente 
  na property routerLink, conforme exemplo abaixo:
</p>

<app-coder [parametros]="codigoMultipleRoutes"></app-coder>