<div class="container">

  <nav [style.backgroundColor]="backgroundColor" class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="./assets/AngularJS-Shield.svg" width="50px" height="55px" alt="">
        <strong style="font-size: 15px"> Curso de Angular </strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrincipal"
        aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarPrincipal">
        <span class="navbar-toggler-icon">
        </span>
      </button>

      <div class="collapse navbar-collapse flex-row d-flex " id="navbarPrincipal">
        <ul class="navbar-nav lh-base" small>
          <li class="nav-item">
            <a routerLink="/" class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/diretivas" class="nav-link" aria-current="page">Diretivas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/componentes" class="nav-link" aria-current="page">Componentes</a>
          </li>
          <li class="nav-item">
            <a routerLink="/template-driven" class="nav-link" aria-current="page">TDD</a>
          </li>
          <li class="nav-item">
            <a routerLink="/reactive-driven" class="nav-link" aria-current="page">RDD</a>
          </li>
          <li class="nav-item">
            <a routerLink="/services" class="nav-link" aria-current="page">Services</a>
          </li>
          <li class="nav-item">
            <a routerLink="/rotas" class="nav-link" aria-current="page">Rotas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/autenticacao" class="nav-link" aria-current="page">Autenticação</a>
          </li>
          <li class="nav-item">
            <a routerLink="/outros" class="nav-link" aria-current="page">Outros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet> </router-outlet>

  <div [ngSwitch]="menuEscolhido">

    <div *ngSwitchCase="'Diretivas'">
      <app-diretiva-page></app-diretiva-page>
    </div>

    <div *ngSwitchCase="'Componente'">
      <app-component-page></app-component-page>
    </div>

    <div *ngSwitchCase="'Template'">
      <app-template-driven> </app-template-driven>
    </div>

    <div *ngSwitchCase="'reactive'">
      <app-reactive-driven></app-reactive-driven>
    </div>

    <div *ngSwitchCase="'services'">
      <app-services></app-services>
    </div>

    <div *ngSwitchCase="'routers'">
      <app-rota></app-rota>
    </div>

    <div *ngSwitchCase="'autenticacao'">
      <app-autenticacao></app-autenticacao>
    </div>

    <div *ngSwitchCase="'Outros'">
      <app-outros-page></app-outros-page>
    </div>