<app-like
  [totalCounts]="tweet.totalLikes"
  [isActive]="tweet.isLiked"
> </app-like>
<h1> Angular </h1>
<!-- Chamada para o componente -->

<app-directives></app-directives>
<app-pipe-example> </app-pipe-example>
<!-- app-favorite é um child selector -->
<!-- [favorito] é um child selector, vem do componente favorito, "post.isFavorite" é uma property from parent-->
<app-favorite [favorito]="post.isFavorite" (change)="onFavoriteChanged($event)"> </app-favorite>

<!-- 
  a chamada desse componente tem um evento criado (newItemEvent) que chama um método
  do componente atual (app.component.ts) esse método passa o valor do evento, que no caso
  é um valor que vem do child template
-->
<app-exemplo-sharing-data (newItemEvent)="addItems($event)"> </app-exemplo-sharing-data>

<ul>
  <li *ngFor="let item of items">
      {{ item }}
  </li>
</ul>

<span>  </span>
<!-- para setar o body e o heading do painel, é possível fazer via property binding 
assim <app-panel [body]="body"> </app-panel>,
mas essa sintaxe não é a mais adequada, para isso existe o ngContent element
-->
<app-panel>
   
  <ng-container class="heading"> Heading+ </ng-container>
  <div class="body"> 
    <h2> Body </h2> 
    <p>some content</p>
  </div>
</app-panel>

<div *ngIf="courses.length > 0">
  List of courses
</div>
<div *ngIf="courses.length == 0">
    No courses yet
</div>

<!-- Mesmo resultado do if anterior, utilizando ng-template e a instrução else,
repare que a template variable #noCourses e #coursesList foram  utilizadas para chamar o ng-template 
correspondente
-->

<div *ngIf="courses.length > 0; then coursesList else noCourses"> </div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<!-- uma solução diferente para o mesmo problema, neste caso ambas as divs aparecem no DOM -->

<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'"  aria-current="page" >Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="viewMode = 'list'" [class.active]="viewMode == 'list'">Link</a>
  </li>  
</ul>
<!-- ngSwitchCase directive é recomendável para quando queremos comparar uma propertie 
 ou um field contra múltiplos valores-->
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'"> Map View Content </div>
  <div *ngSwitchCase="'list'"> List View Content</div>
  <div *ngSwitchDefault> Otherwise </div>
</div>