<h5 class="mt-3">Validação Assíncrona </h5>
        <span>
          Para realizar uma validação assíncrona é preciso implementar a interface AsyncValidatorFn,
          essa interface possui a seguinte assinatura:
        </span>
        <app-coder [parametros]="asyncValidatorFn"> </app-coder>
        <span>
          Repare que a interface recebe um AbstractControl como parâmetro e retorna uma promisse de validationErrors ou nulo OU
          um Observable de ValidationErrors ou null. Isso significa que quando a operação for concluída 
          receberemos como retorno uma promise de ValidationErrors ou um Observable de ValidationErrors ou nulo <br />

          também convém compreender como funciona o conceito de operação assíncrona, conceito explicitado 
          neste link (criar link). No nosso exemplo criaremos um método para testar se um valor informado 
          no formulário de login é único. 
          <br />
          O código abaixo retorna um resolve ou um reject, o reject em caso de erro, o resolve se a operação 
          for bem sucedida. O resolve retorna um ValidatorError ou nulo, shouldBeUnique é um ValidatorError, 
          lembrando que o que define um validatorErrorFn é um AbstractControl como parâmetro e o retorno 
          de um outro ValidatorError ou nulo.
        </span>
        <app-coder [parametros]="exemploAsyncValidatorFn"></app-coder>
        <span class="mt-3"> Repare que há um delay entre a digitação do valor no campo e a resposta do 
          navegador, para deixar claro que o sistema está trabalhando, convém uma mensagem ao usuário de 
        loading, isso pode ser obtido através da propriedade <strong>pending </strong> do FormControl, essa 
      propriedade fica ativa enquanto a operação assíncrona está funcionando, para adicioná-la basta 
     utilizar um NgIf para que enquanto pending for verdadeiro apareça uma mensagem do tipo 
    "Checando por valor único" ou uma imagem de loading </span>