<p class="mt-3">
    O http delete cria um observable que quando subscrito exclui um registro do servidor. 
    não possui um body, apenas uma url e opções http. Sua implementação ficaria assim:
  </p>
  <app-coder [parametros]="codigoHttpClientDelete"></app-coder>
  <p class="mt-3">
    Observe que a implementação do método é bem simples, basta passar a url indicando o 
    item que deseja excluir, na subscrição do método você passa o que deseja fazer com o objeto 
    manipulado, no exemplo, foi excluído do template o elemento correspondente.
  </p>