<h5 class="mt-3">Serviço de acesso a dados</h5>
<p class="mt-3">
  Suponha que deseje criar um serviço de acesso a dados, uma chamada para um método de recuperação 
  de dados, outro que busque por id específico, outro que delete e outro que atualize, repare que
  são operações comuns que se repetem em vários componentes, ou seja, podemos criar métodos genéricos 
  para tratar essa questão, veja no código abaixo um exemplo do que seria uma classe de serviços.
</p>
<app-coder [parametros]="codigoDataService"></app-coder>