<h4 class="mt-3"> Visão Geral dos Componentes </h4>
          <span class="fs-6">
            As aplicações Angular são baseadas em componentes, os componentes são os principais blocos de 
            construção do Angular. Cada componente possui:           
          </span>
          <ul class="list-group list-group-flush fs-6">
            <li class="list-group-item"> <small> Um template HTML com a marcação e conteúdo da página </small></li>
            <li class="list-group-item"> <small>  classe TypeScript que define o comportamento do componente </small></li>
            <li class="list-group-item"> <small> Um seletor CSS que define como o componente será invocado </small></li>              
          </ul>
          <span>
              Para criar um componente é requisito ter instalado também o Angular CLI e também ter 
              criado um workspace do Angular com os arquivos iniciais de uma aplicação Angular, para 
              criar digite ng new project-name, onde project-name é o nome de sua aplicação angular.
          </span>

          <h4 class="mt-2">Criando um componente</h4>
          <span>
            A melhor forma de criar um componente é pelo uso do Angular CLI, mas também pode ser feito 
            manualmente, para criar através do  Agular CLI, navegue até a pasta do seu projeto Angular, digite            
             <code class="bg-light">ng generate component component-name </code>, conde component-name 
            é o nome do seu componente. Por padrão, este componente cria o seguinte:
          </span>
          <ul class="list-group list-group-numbered fs-6">
            <li class="list-group-item">Um diretório com o mesmo nome do componente</li>
            <li class="list-group-item">O arquivo do componente component-name.component.ts</li>
            <li class="list-group-item">Um template html, component-name.component.html</li>
            <li class="list-group-item">Um arquivo CSS, component-name.component.css</li>
            <li class="list-group-item">Um arquivo de especificação de testes component-name.component.spec.ts</li>
          </ul>
        