@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0";
/* You can add global styles to this file, and also import other style files */
.form-control.ng-invalid.ng-touched {
    border: 2px solid #ff0000;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-tab-body-content {
    padding-top: 20px;
  }
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 20,
  'wght' 100,
  'GRAD' 10,
  'opsz' 48
}
